<a href="https://colab.research.google.com/github/shreyaasoba/Data-Science-Topics-Series/blob/main/Module1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Module 1: Python Programming and Data Manipulation:**

**Data Types:**
Python offers several built-in data types:
**Numbers**: Integers (int), floating-point numbers (float), and complex numbers (complex).
**Strings**: Sequences of characters (str).
**Booleans**: True or False values (bool).
**Lists**: Ordered, mutable collections of items (list).
**Tuples**: Ordered, immutable collections of items (tuple).
**Dictionaries**: Unordered collections of key-value pairs (dict).

**Loops**:
**for** loop: Iterates over a sequence of items (e.g., a list, a string).
**while** loop: Repeats code as long as a condition is true.

**Conditionals**:
**if** statement: Executes code if a condition is true.
**elif** statement: Executes code if the previous if condition is false and another condition is true.
**else** statement: Executes code if all previous if and elif conditions are false.
Functions:
Reusable blocks of code that perform a specific task.


---

**Libraries**
**Pandas**:
A powerful library for data manipulation and analysis.
DataFrames: The primary data structure in Pandas, representing tabular data with rows and columns.
**NumPy**:
A fundamental library for numerical operations.
Arrays: The primary data structure in NumPy, optimized for efficient mathematical calculations.

**DataFrames**
**Creating**: Create DataFrames from various sources (e.g., CSV files, dictionaries, lists).
**Filtering**: Select specific rows or columns based on certain conditions.
**Adding** New Columns: Create new columns based on existing data or calculations.
**Aggregating** Data: Perform summary calculations on data (e.g., sum, mean, count).

In [ ]:
# Import necessary libraries
import pandas as pd

# Create a sample DataFrame
data = {
    'Name': ['Alice', 'Bob', 'Charlie', 'David'],
    'Age': [25, 30, 35, 40],
    'Salary': [50000, 60000, 70000, 80000]
}
df = pd.DataFrame(data)

# Add a new column for bonuses (10% of salary)
df['Bonus'] = df['Salary'] * 0.1

# Filter employees older than 30
filtered_df = df[df['Age'] > 30]

# Display the results
print("Original DataFrame:\n", df)
print("\nFiltered DataFrame:\n", filtered_df)

Original DataFrame:
       Name  Age  Salary   Bonus
0    Alice   25   50000  5000.0
1      Bob   30   60000  6000.0
2  Charlie   35   70000  7000.0
3    David   40   80000  8000.0

Filtered DataFrame:
       Name  Age  Salary   Bonus
2  Charlie   35   70000  7000.0
3    David   40   80000  8000.0

Practice
Modify the code to calculate a new column for "Total Compensation" (Salary + Bonus).
Filter employees with a salary greater than $60,000.

In [ ]:
df['Total Compensation'] = df['Salary'] + df['Bonus']
print(df)

      Name  Age  Salary   Bonus  Total Compensation
0    Alice   25   50000  5000.0             55000.0
1      Bob   30   60000  6000.0             66000.0
2  Charlie   35   70000  7000.0             77000.0
3    David   40   80000  8000.0             88000.0

In [ ]:
filter_TC = df[df['Salary']>60000]
print("employees with a salary greater than $60,000.", filter_TC)

employees with a salary greater than $60,000.       Name  Age  Salary   Bonus  Total Compensation
2  Charlie   35   70000  7000.0             77000.0
3    David   40   80000  8000.0             88000.0